@model Captcha.Shared.ModelOutputDTO
@{
  ViewData["Title"] = "Captcha Guessr Result";
}
<h1>@ViewData["Title"]</h1>

<p>Denne side er til at teste Captchaen.</p>

<div class="guessr-container">
  <form>
    
  </form>
</div>