@model Captcha.Shared.ModelOutputDTO
@{
  ViewData["Title"] = "Captcha Guessr Result";
}
<h1>@ViewData["Title"]</h1>

<p>Denne side er til at teste Captchaen.</p>

<div class="guessr-container">
  <label>@Model.PredictedLabel</label><br/>
  <label>Score: @Model.Score %</label>
</div>