@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<iframe title="Test" width="1140" height="541" src="https://app.powerbi.com/reportEmbed?reportId=cc4b5f33-5587-4a3f-b35c-0e269d083676&autoAuth=true&ctid=1855fd54-8283-4d57-ab22-4e818e22fcf7&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" allowFullScreen="true"></iframe>
