@model Captcha.Shared.CaptchaLabelDto
@{
  ViewData["Title"] = "Admin panel";
}
<h1>@ViewData["Title"]</h1>

<p>Label og upload filer til data sættet</p>

<div>
  <form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="File" onchange="loadFile(event)" />
    <br /><br />
    <img src="" alt="CaptchaImage" id="preview" />
    <br /><br />
    <label>Label billedet</label> <br />
    <input id="userCaptchaInput" type="text" asp-for="Name" />
    <input type="submit" value="Submit biled" />
  </form>
</div>


<script>
  var loadFile = function(event) {
    var output = document.getElementById('preview');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src);
    }
  };
</script>
