@{
  ViewData["Title"] = "Admin Statistic";
}
<h1>@ViewData["Title"]</h1>

<p>Her er en oversigt over resultat procenten på algoritmen samt hvad den tror det er</p>
<iframe title="Final PowerBi" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=cc52c32f-85e3-43f3-af74-5ed1bf4feb1a&autoAuth=true&ctid=1855fd54-8283-4d57-ab22-4e818e22fcf7&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>