@{
  ViewData["Title"] = "Admin Statistic";
}
<h1>@ViewData["Title"]</h1>

<p>Her er en oversigt over resultat procenten på algoritmen samt hvad den tror det er</p>
<iframe title="Test" allowFullScreen="true" width="1140" height="541" 
        src="https://app.powerbi.com/reportEmbed?reportId=cc4b5f33-5587-4a3f-b35c-0e269d083676&autoAuth=true&ctid=1855fd54-8283-4d57-ab22-4e818e22fcf7&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D"></iframe>