@{
  ViewData["Title"] = "Admin Statistic";
}
<h1>@ViewData["Title"]</h1>

<p>Her er en oversigt over resultat procenten på algoritmen</p><br/>
<p>Hvis du har problemer med at logge ind så vær sikker på at du har adgang og køre i Chrome</p>
<iframe title="Final PowerBi" width="1140" height="541" allowFullScreen="true"
        src="https://app.powerbi.com/reportEmbed?reportId=cc52c32f-85e3-43f3-af74-5ed1bf4feb1a&autoAuth=true&ctid=1855fd54-8283-4d57-ab22-4e818e22fcf7&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D"></iframe>
