@{
    ViewData["Title"] = "Captcha Guessr";
}
<h1>@ViewData["Title"]</h1>

<p>Denne side er til at teste Captchaen.</p>

<div class="guessr-container">
  <div class="image-container">
    <img src="2A2X.png" alt="CaptchaImage" height="24" width="72"/>
  </div>
  <label>Skriv det rigtige svar</label>
  <input class="userCaptchaInput" type="text"/>
  <button type="submit">Submit svar</button>
</div>